monday.csv
tuesday.csv
wednesday.csv
thursday.csv
friday.csv
i210640_G_AIProject_Report.docx
Monday_timetable.csv
Friday_timetable.csv
Thursday_timetable.csv
Wednesday_timetable.csv
Tuesday_timetable.csv
1st_Attempt.py